# Managed by the rickliujh/tf-tmpl/gcp/modules/github-actions
# module. While changes won't be overwritten unless you run it locally and commit, 
# it is recommended not to make changes to this file directly.

provider "github" {
  owner = "${github_organization}"
}
